.contact-form{
     padding: 40px 90px;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.contact-head{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
}

form{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 20px;
}

input,textarea{
     width: 350px;
     border: 2px solid var(--darkBlue);
     border-radius: 9px;
     padding: 5px;
     font-size: 14px;
     font-family: 'Poppins';
}

input{
     height: 35px;
}

textarea{
     min-height:75px ;
}

.button{
     width: 50%;
     margin-top: 10px;
     border: none;
     background: linear-gradient(
      to right,
      rgb(186, 95, 5),
      rgb(114, 6, 114),
      rgb(3, 3, 124)
    );
    color: #ffff;
}

.button_clicked{
     margin-top: 10px;
     background-color: var(--grey);
     color: var(--darkBlue);
     height: 35px;
     width: 50%;
     border: none;
     border-radius: 7px;
     font-size: 13px;
}


/* responsive */


@media(max-width:800px){
     .contact-form{
          padding: 40px 10px;
          flex-direction: column;
     }

.contact-head{
margin-bottom: 40px;
}
     
input,textarea{
     width:300px;
}

}