.contact-form {
  padding: 40px 90px;
  display: flex;
  justify-content: space-around;
}

.contact-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-head h1 {
  font-size: 40px;
  width: 100%;
  margin: 0;
}

.contact-head span {
  font-size: 35px;
  font-weight: bolder;
}

.span {
  font-size: 35px;
  font-weight: bolder;
  background-image: linear-gradient(to right, blue, rgb(118, 193, 218));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

input,
textarea {
  width: 350px;
  border: 2px solid var(--darkBlue);
  border-radius: 9px;
  padding: 5px;
  font-size: 14px;
  font-family: 'Poppins';
}

input {
  height: 35px;
}

textarea {
  min-height: 75px;
}

.button {
  width: 50%;
  margin-top: 10px;
  border: none;
  background: linear-gradient(
    to right,
    rgb(186, 95, 5),
    rgb(114, 6, 114),
    rgb(3, 3, 124)
  );
  color: #ffff;
}

.button:hover {
     background: linear-gradient(
          to right,
          rgb(159, 81, 3),
          rgb(93, 5, 93),
          rgb(3, 3, 100)
        );
}

.button_clicked {
  margin-top: 10px;
  background-color: var(--grey);
  color: var(--darkBlue);
  height: 35px;
  width: 50%;
  border: none;
  border-radius: 7px;
  font-size: 13px;
}

/* responsive */

@media (max-width: 800px) {
  .contact-form {
    padding: 40px 10px;
    flex-direction: column;
  }

  .contact-head {
    margin-bottom: 40px;
    align-items: flex-start;
    padding-inline: 20px;
  }

  input,
  textarea {
    width: 300px;
  }

  .contact-head h1 {
    font-size: 25px;
  }

  .contact-head span {
    font-size: 30px;
    margin: 20px 0;
    border-bottom: 1px solid var(--blue);
  }

  .contact-head h1 {
    display: none;
  }

  .span {
    border: none !important;
  }
}
