:root {
  --blue: #1296b0;
  --darkBlue: #106475;
  --grey:#e7e6e6;
  --lightGrey:#f3f3f3;
  --green:#5bcc88;
  --darkGrey:rgb(147, 147, 147);
  --text-gradient:linear-gradient(to right,blue,lightblue);
  --primary-gradient: linear-gradient(to bottom, #1296b0, #106475); 
  --gradient-hover: linear-gradient(to bottom, #137487, #13454f); 
  --shadow-color: rgba(0, 0, 0, 0.1);
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    rgba(178, 224, 248, 0.368),
    #ffff,
    rgba(227, 209, 249, 0.434)
  );
}